{{! This file is a modification of html from https://github.com/almasaeed2010/AdminLTE}}
<div class="row dashbaord-info-boxes">
    {{info-box
        title   = "CPU Traffic Mock"
        metric  = cpuUsage
        color   = "aqua"
        type    = "percentage"
        ion     = "ios-gear-outline"
    }}

    {{info-box
        title   = "Sales Mock"
        metric  = sales
        color   = "green"
        ion     = "ios-cart-outline"
    }}

    {{info-box
        title   = "New Members Mock"
        metric  = newMembers
        color   = "yellow"
        ion     = "ios-people-outline"
    }}
  </div>
