<!-- Logo -->
{{#link-to "index" class="logo"}}{{t-tr "dashboard_title"}}{{/link-to}}
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">{{t-tr 'header.toggleNavigation'}}</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
        <!-- menu items should come from application-header-*-menu.hbs" -->
        </ul>
    </div>
</nav>
