<!-- Logo -->
{{#link-to "index" class="logo"}}<b>Ember</b>DASHBOARD{{/link-to}}
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            {{#if session.isAuthenticated}}
                {{partial "application-header/user-menu"}}
            {{/if}}
        </ul>
    </div>
</nav>
