
<section class="content">

    <div class = "row">
        <div class ="col-xs-12">
            <h1>
                {{t-tr "general.tools"}}
            </h1>
        </div>
    </div>

    {{ outlet }}

</section>

